.consulta {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
    align-items: center;

    .titulo{
        font-size: clamp(1em,2.5em,3em);
        font-family: 'Indie Flower', cursive;
        font-weight: 600;
    }
    .container{
        display:flex;
        flex-direction: column;
        align-items: center;

        .row{
            width: 40em;
            .col{
                width: 50%;
            }
        }
        .btn{
            width: fit-content;
        }
    }
}
